@model POS.Models.Brand

@{
    ViewData["Title"] = "Create";
}


<style type="text/css">
    .form-style-9 {
        max-width: 800px;
        background: #FAFAFA;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
    }

        .form-style-9 ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .form-style-9 ul li {
                display: block;
                margin-bottom: 10px;
                min-height: 35px;
            }

                .form-style-9 ul li .field-style {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    padding: 8px;
                    outline: none;
                    border: 1px solid #B0CFE0;
                    -webkit-transition: all 0.30s ease-in-out;
                    -moz-transition: all 0.30s ease-in-out;
                    -o-transition: all 0.30s ease-in-out;
                }

                    .form-style-9 ul li .field-style:focus {
                        box-shadow: 0 0 5px #B0CFE0;
                        border: 1px solid #B0CFE0;
                    }

                .form-style-9 ul li .field-split {
                    width: 49%;
                }

                .form-style-9 ul li .field-full {
                    width: 100%;
                }

                .form-style-9 ul li input h5 .align-left {
                    float: left;
                }

                .form-style-9 ul li input h5.align-left {
                    float: left;
                }

                .form-style-9 ul li textarea {
                    width: 100%;
                    height: 100px;
                }

                .form-style-9 ul li input[type="button"],
                .form-style-9 ul li input[type="submit"] {
                    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    box-shadow: inset 0px 1px 0px 0px #3985B1;
                    background-color: #216288;
                    border: 1px solid #17445E;
                    display: inline-block;
                    cursor: pointer;
                    color: #FFFFFF;
                    padding: 8px 18px;
                    text-decoration: none;
                    font: 12px Arial, Helvetica, sans-serif;
                }

                    .form-style-9 ul li input[type="button"]:hover,
                    .form-style-9 ul li input[type="submit"]:hover {
                        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                        background-color: #28739E;
                    }

    #bck {
        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
        background-color: #28739E;
    }

    .form-control {
        width: 100%;
    }
</style>
@{
    List<Brand> list =ViewBag.BrandsD as List<Brand>;
    <div class="row">
        <div class="col-md-5">
            <form class="form-style-9" asp-action="Create">
                <input type="hidden" name="hdnDatebtnRange" id="hdnDatebtnRange" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2>Add new Brand</h2>
                <hr style="background-color:cadetblue" />
                <ul>

                    @*<li>
            <h5>Create Date:</h5>
            <input type="text" id="date" value="@ViewBag.Date" autocomplete="off" asp-for="CreateDate" class=" form-control" placeholder="Date" />

            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </li>*@
                    <li>
                        <label asp-for="CompanyId" class="control-label">Manufacturer</label>
                        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.TestParentId"></select>

                        @*<select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>*@

                    </li>
                    <li>
                        <h5>Brand Name:</h5>
                        <input type="text" class="form-control" asp-for="BrandName" placeholder="Enter Brand Name" />

                        <span asp-validation-for="BrandName" class="text-danger"></span>

                    </li>
                    <li>
                        @*<h5>Brand Code:</h5>*@
                        <h5>Brand ID:</h5>
                        <input type="text" value="@ViewBag.BrandId" id="BrandCode" class="form-control" asp-for="BrandCode" placeholder="Enter Brand Code" />

                        <span asp-validation-for="BrandCode" class="text-danger"></span>

                    </li>

                    <li>
                        <h5>Remarks:</h5>
                        <input type="text" class="form-control" asp-for="Remarks" placeholder="Enter Remarks" />

                        <span asp-validation-for="Remarks" class="text-danger"></span>

                    </li>




                    <li>
                        <input type="submit" value="Save" class="form-control" />


                    </li>
                    @*<li>
            <a asp-action="Index" class="btn btn-danger form-control" id="bck">Back</a>
        </li>*@
                </ul>
            </form>
        </div>

        <div class="col-md-7 form-style-9">



            <table class="table table-striped">
                <thead>
                    <tr style="background-color:burlywood">

                        <th>
                            Menufacturer
                        </th> 
                        <th>
                            @Html.DisplayNameFor(model => model.BrandName)
                        </th> 
                      
                        <th>
                            @Html.DisplayNameFor(model => model.BrandCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.CreateId)
                            </th>*@

                        <th class="text-warning text-center">Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in ViewBag.BrandsD)
                    {
                        <tr>
                            <td>@c.CompanyName</td>
                            <td>@c.BrandName</td>
                            <td>@c.BrandCode</td>
                            <td>@c.Remarks</td>
                            <td>@c.CreateDate.ToString("dd/MM/yyyy")</td>
                            @*<td>@c.CreateId</td>*@



                            <td>
                                <a class="text-primary btn btn-primary" asp-action="Edit" asp-route-id="@c.Id"><i class="fa fa-edit"></i>Edit</a>
                            </td>
                            <td><a class="text-danger btn btn-danger" asp-action="Delete" asp-route-id="@c.Id"><i class="fa fa-trash"></i>Delete</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>


    </div>

}
@section Scripts{


    <script type="text/javascript">

        $(function () {
            $('#date').datepicker({
                autoclose: true
            });

            //$("#BrandCode").val();
            ////Date picker
            //$('[data-datetimepicker]').datetimepicker({
            //    format: 'DD-MM-YYYY'
            //}).on('dp.change', function (ev) {
            //});
            ////Date range picker
            $('#reservation').daterangepicker();



        });

    </script>
}
